body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: center;
    background-color: azure;
}

.container {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px red;
    align-items: center;
    justify-content: center;
}

.description-btn {
    width: 200px;
    position: relative;
    display: inline-block;
    border-radius: 30px;
    background-color: white;
    color: red;
    padding: 11px 40px 11px 0px;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.2);
    transition: all 0.3s;
}
